/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.one-pixel-nft{
    height: 10px;
    width: 10px;
}
.no-button-css {
  border: none;
  padding: 0;
  background: none;
}
.no-button-css:focus {
    outline: none;
}
