.app-container {
    height: 100%;
  }
  ::ng-deep .mat-drawer-content {
    height: calc(100vh - 50px) !important;
    padding: 20px;
  }
  ::ng-deep .mat-drawer-container{
    height: calc(100vh - 50px) !important;
  }
  